@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.formLabel{
    @apply cursor-pointer block text-sm mb-1
}
.formInput{
    @apply w-full rounded-sm
}
svg{
    width: 100%;
}
